.cta {
  background: none;
  border: none;
  color: currentColor;
  cursor: pointer;
  font-weight: $font-weight-semibold;
  min-width: 120px;
  text-decoration: none;
  transition: ease .2s;
  width: max-content;

  &:hover,
  &:active {
    opacity: 0.8;
  }

  &--primary {
    background: $cw;
    border-radius: 30px;
    border: 1px solid $cb;
    color: $cb;
    padding: 15px 20px;
  }

  &--secondary {
    color: $cg1;
    font-weight: $font-weight-light;
  }

  &--tertiary {
    color: $cb;
    display: flex;
    padding: 12px 8px 12px 0;

    span {
      margin-right: 8px;
      white-space: nowrap;
    }

    .icon {
      transition: ease transform 0.3s;
    }

    &:hover .icon {
      transform: translateX(4px);
    }
  }

  &--icon {
    padding: 0;
  }
}