.cta {
  background: none;
  border-radius: 30px;
  border: none;
  color: currentColor;
  cursor: pointer;
  font-weight: $font-weight-semibold;
  min-width: 120px;
  padding: 15px 20px;
  text-decoration: none;
  transition: ease .2s;

  &:hover,
  &:active {
    opacity: 0.8;
  }

  &--primary {
    background: $cw;
    color: $cb;
  }

  &--secondary {
    color: $cg1;
    font-weight: $font-weight-light;
  }

  &--navigation {
    font-size: 60px;
    text-decoration: underline;

    @include bp(lg) {
      font-size: 24px;
    }
  }
}