.header {
  height: $header-height;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100vw;
  z-index: 100;

  &__container {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
}