.hero {
  align-items: flex-end;
  display: flex;
  height: 100vh;
  position: relative;

  &__title {
    grid-column: 1/-1;
    padding-bottom: 48px;

    @include bp(xl) {
      grid-column: 1/-4;
    }
  }
}