.hero {
  $self: &;

  align-items: flex-end;
  display: flex;
  position: relative;

  .heading {
    grid-column: 1/-1;
    padding-bottom: 48px;
  }

  .cta {
    margin-bottom: 48px;
    animation: pulse 1.5s ease-in-out infinite;

    @include bp(lg) {
      grid-column: -1/-1;
    }
  }

  &__size {
    &--large {
      height: 100vh;
    }

    &--medium {
      height: 460px;
    }

    &--small {
      height: 280px;
    }
  }

  &__align-content {
    &--left {
      .heading {
        @include bp(lg) {
          grid-column: 1/-4;
        }
      }
    }

    &--center {
      justify-content: center;

      .heading {
        @include bp(lg) {
          grid-column: 1/-1;
        }
      }
    }

    &--right {
      justify-content: flex-end;

      .heading {
        @include bp(lg) {
          grid-column: 4/-1;
        }
      }
    }
  }

  &__wrapper {
    @include bp(lg) {
      align-items: flex-end;
    }
  }
}