.hero {
  $self: &;

  display: flex;
  justify-content: center;
  justify-content: center;
  position: relative;

  .cta {
    margin-bottom: 48px;
    animation: pulse 1.5s ease-in-out infinite;

    @include bp(lg) {
      grid-column: -1/-1;
    }
  }

  &__size {
    &--large {
      height: 100vh;
    }

    &--medium {
      height: 280px;

      @include bp(lg) {
        height: 460px;
      }
    }

    &--small {
      height: 280px;
    }
  }

  &__align-content {
    &--top {
      align-items: flex-start;
    }

    &--center {
      align-items: center;
    }

    &--end {
      align-items: flex-end;
    }
  }

  &__justify-content {
    &--left {
      .heading {
        @include bp(lg) {
          grid-column: 1/-4;
        }
      }
    }

    &--center {
      justify-content: center;

      .heading {
        @include bp(lg) {
          grid-column: 1/-1;
        }
      }
    }

    &--right {
      justify-content: flex-end;

      .heading {
        @include bp(lg) {
          grid-column: 4/-1;
        }
      }
    }
  }

  &__wrapper {
    @include bp(lg) {
      align-items: center;
    }

    .cta {
      display: none;

      @include bp(md) {
        display: block;
      }
    }

    .heading {
      grid-column: 1/-1;
      padding-bottom: 48px;
    }

    #{$self}__first-column {
      grid-column: 1/-1;
    }

    &--animation {
      #{$self}__first-column {
        grid-column: 1/-1;

        @include bp(md) {
          grid-column: 1/4;
        }

        @include bp(lg) {
          grid-column: 1/6;
        }
      }

      .heading {
        padding-bottom: 48px;
        text-align: center;

        @include bp(md) {
          text-align: left;
        }

        @include bp(lg) {
          grid-column: 1/6;
        }
      }

      .animation {
        grid-column: 1/-1;
        max-width: 600px;

        @include bp(md) {
          grid-column: 5/-1;
        }

        @include bp(lg) {
          grid-column: 7/-1;
        }
      }
    }
  }
}