@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Source+Sans+Pro:wght@300;400;600;700&display=swap');

// Font Family
$font-caveat: 'Caveat', cursive;
$font-source: 'Source Sans Pro', sans-serif;

// Font Weight
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;

// Font Size
:root {
  --font-size-h1: 40px;
  --font-size-h2: 32px;
  --font-size-h3: 28px;
  --font-size-h4: 24px;
  --font-size-h5: 20px;

  --font-size-body-large: 18px;
  --font-size-body-regular: 16px;
  --font-size-body-small: 12px;
  --font-size-eyebrow: 16px;

  @include bp(md) {
    --font-size-h1: 72px;
    --font-size-h2: 56px;
    --font-size-h3: 48px;
    --font-size-h4: 32px;
    --font-size-h5: 24px;
  }
}

// Font sizes

body {
  font-family: $font-source;
}

.logo-heading {
  color: $cw;
  font-family: $font-caveat;
  font-size: 32px;
  letter-spacing: -3px;
  transform: rotate(-7deg);
}

.heading-1 {
  color: $cw;
  font-size: var(--font-size-h1);
  font-weight: $font-weight-regular;
  line-height: 1.2;
}

.heading-2 {
  color: $cw;
  font-size: var(--font-size-h2);
  font-weight: $font-weight-light;
}

.paragraph {
  color: $cg1;
  font-size: 16px;
  line-height: 1.33;
}

.input-text {
  border-radius: 10px;
  border: none;
  padding: 12px;
  width: 100%;
}
