@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Source+Sans+Pro:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100;200;300;400;500;600;700;800;900&display=swap');

// Font Family
$font-caveat: 'Caveat', cursive;
$font-family: 'Urbanist', sans-serif;

// Font Weight
$font-weight-light: 300;
$font-weight-regular: 500;
$font-weight-semibold: 700;
$font-weight-bold: 900;

// Font Size
:root {
  --font-size-h1: 42px;
  --font-size-h2: 38px;
  --font-size-h3: 28px;
  --font-size-h4: 24px;
  --font-size-h5: 20px;

  --font-size-p-large: 18px;
  --font-size-p-regular: 16px;
  --font-size-p-small: 12px;
  --font-size-eyebrow: 16px;

  @include bp(md) {
    --font-size-h1: 72px;
    --font-size-h2: 56px;
    --font-size-h3: 48px;
    --font-size-h4: 32px;
    --font-size-h5: 24px;
  }
}

// Font sizes

body {
  font-family: $font-family;
}

.logo-heading {
  color: $cw;
  font-family: $font-caveat;
  font-size: 32px;
  letter-spacing: -3px;
  transform: rotate(-7deg);
}

.heading {
  color: $cw;

  &--h1 {
    font-size: var(--font-size-h1);
    font-weight: $font-weight-regular;
    line-height: 1.2;
  }

  &--h2 {
    font-size: var(--font-size-h2);
    font-weight: $font-weight-semibold;
  }
}

.paragraph {
  color: $cb;

  &--size-small {
    font-size: var(--font-p-small);
  }
  
  &--size-regular {
    font-size: var(--font-p-regular);
    line-height: 1.33;
  }

  &--size-large {
    font-size: var(--font-p-large);
  }

  &--weight-light {
    font-weight: $font-weight-light;
  }

  &--weight-regular {
    font-weight: $font-weight-regular;
  }

  &--weight-semibold {
    font-weight: $font-weight-semibold;
  }

  &--weight-bold {
    font-weight: $font-weight-bold;
  }
}

.input-text {
  border-radius: 10px;
  border: none;
  padding: 12px;
  width: 100%;
}
