@keyframes slide-bottom {
  0% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(20px);
  }
}

@keyframes pulse {
  0% {
    transform: translateY(0);
  }
  90% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}